# Virtual Environments
.venv/
.venv-1/
.venv-2/

# Python Cache
__pycache__/
*.pyc

# Data & Large Files (Crucial to ignore for GitHub)
data/
fashion-small/
*.index
*.npy
*.csv

# OS files
.DS_Store
Thumbs.db

files1/